@mixin heading-top($margin, $top, $width-before, $width-after, $right-after) {
  &__heading {
    text-align: center;
    margin-top: $margin;
    font-size: 3.5rem;
    font-weight: 500;
    position: relative;
    top: $top;
  }

  &__heading::before {
    position: absolute;
    background: $color-brown;
    height: 0.2rem;
    content: "";
    width: $width-before;

    @include respond(tab-land) {
      display: none;
    }
  }

  &__heading::after {
    position: absolute;
    background: $color-brown;
    height: 0.2rem;
    content: "";
    width: $width-after;
    right: $right-after;
    bottom: 0%;

    @include respond(tab-land) {
      display: none;
    }
  }
}

@mixin icon {
  &__icon {
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    right: 49%;
    bottom: 100%;
    fill: $color-brown;
    margin-bottom: 0.2rem;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == small-phone {
    @media only screen and (max-width: 20em) {
      @content;
    } //320px
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 48em) {
      @content;
    } //768px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-screen {
    @media only screen and (max-width: 90em) {
      @content;
    } //1440px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
