.header {
  background-image: linear-gradient(
      to bottom right,
      rgba($color-black, 0.5),
      rgba($color-black, 0.4)
    ),
    url(..//img/112.jpg), url(../img/dott.pnt);
  background-size: 0.4rem, cover;
  background-position: center, center;
  background-repeat: repeat, no-repeat;
  min-height: 100vh;
  position: relative;

  @include respond(tab-land) {
    min-height: 70vh;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo-box {
    background-color: $color-brown;
    border-radius: 50%;
    padding: 1rem;
    text-align: center;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.3);
    }

    @include respond(phone) {
      position: absolute;
      top: 2rem;
      left: 5%;
    }
  }

  &__logo-item {
    height: 100%;
  }

  &__logo {
    height: 3rem;

    @include respond(tab-land) {
      height: 2.5rem;
    }

    @include respond(phone) {
      height: 5rem;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 5rem;
    left: 11rem;

    @include respond(big-screen) {
      left: 10rem;
    }

    @include respond(tab-land) {
      left: 5rem;
    }

    @include respond(phone) {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__text-box {
    display: flex;
    align-items: flex-end;
    font-weight: 500;
  }

  &__text {
    color: $color-brown;
    font-size: 2rem;

    @include respond(big-screen) {
      font-size: 1.8rem;
    }

    @include respond(tab-land) {
      font-size: 1.6rem;
    }

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: $color-brown;
    margin-left: 2rem;
    margin-bottom: -0.5rem;
    transition: all 0.2s;

    @include respond(big-screen) {
      height: 2.5rem;
      width: 2.5rem;
    }

    @include respond(tab-land) {
      height: 2rem;
      width: 2rem;
    }

    @include respond(phone) {
      margin: 1rem 0 -0.2rem 0;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__phone {
    color: $color-brown;
    text-decoration: none;
    @include respond(big-screen) {
      font-size: 1.7rem;
    }

    @include respond(tab-land) {
      font-size: 1.5rem;
    }
  }

  &__box {
    margin-top: 8rem;

    @include respond(phone) {
      position: absolute;
      top: 7%;
    }
  }

  &__hamburger {
    display: none;

    @include respond(phone) {
      position: absolute;
      min-height: 3rem;
      min-width: 3rem;
      top: 8%;
      right: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      z-index: 10;
    }
  }

  &__span {
    background-color: $color-brown;
    width: 2.5rem;
    height: 0.3rem;

    .toggle &--1 {
      transform: rotate(-45deg) translate(-5px, 5.5px);
    }

    .toggle &--2 {
      opacity: 0;
    }

    .toggle &--3 {
      transform: rotate(45deg) translate(-5px, -5.5px);
    }
  }

  .active {
    display: block;
  }
}
