.header {
  background-image: linear-gradient(
      to bottom right,
      rgba($color-black, 0.5),
      rgba($color-black, 0.4)
    ),
    url(..//img/112.jpg), url(../img/dott.pnt);
  background-size: 0.4rem, cover;
  background-position: center, center;
  background-repeat: repeat, no-repeat;
  min-height: 100vh;
  position: relative;

  @include respond(tab-land) {
    min-height: 70vh;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__logo-box {
    background-color: $color-brown;
    border-radius: 50%;
    padding: 1rem;
    text-align: center;
  }

  &__logo-item {
    height: 100%;
  }

  &__logo {
    height: 3rem;

    @include respond(tab-land) {
      height: 2.5rem;
    }

    @include respond(phone) {
      height: 5rem;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 5rem;
    left: 20rem;

    @include respond(big-screen) {
      left: 10rem;
    }

    @include respond(tab-land) {
      left: 5rem;
    }
  }

  &__text-box {
    display: flex;
    align-items: flex-end;
    font-weight: 500;
  }

  &__text {
    color: $color-brown;
    font-size: 2rem;

    @include respond(big-screen) {
      font-size: 1.8rem;
    }

    @include respond(tab-land) {
      font-size: 1.6rem;
    }
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: $color-brown;
    margin-left: 2rem;
    margin-bottom: -0.5rem;

    @include respond(big-screen) {
      height: 2.5rem;
      width: 2.5rem;
    }

    @include respond(tab-land) {
      height: 2rem;
      width: 2rem;
    }
  }

  &__phone {
    color: $color-brown;
    text-decoration: none;
    @include respond(big-screen) {
      font-size: 1.7rem;
    }

    @include respond(tab-land) {
      font-size: 1.5rem;
    }
  }

  &__box {
    margin-top: 8rem;
  }
}
