.contact {
  @include heading-top(0, 0, 13.5%, 16%, 42%);
  @include icon;

  &__heading-main {
    @include respond(tab-land) {
      border-top: 0.3rem solid $color-brown;
      border-bottom: 0.3rem solid $color-brown;
    }
  }

  &__card-box {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;

    @include respond(tab-port) {
      justify-content: space-around;
    }

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__card {
    display: flex;
    flex-basis: 24%;
    background-color: $color-black;
    color: $color-white;
    padding: 3rem 2rem;

    @include respond(big-screen) {
      padding: 1rem 1rem;
      align-items: center;
    }

    @include respond(phone) {
      margin-bottom: 3rem;
      width: 70%;
    }
  }

  &__icon-box {
    background-color: $color-brown;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
  }

  &__text-box {
    margin-left: 1rem;
  }

  &__icon-card {
    height: 2rem;
    width: 2rem;
    fill: $color-white;
  }

  &__text {
    display: flex;
    flex-direction: column;

    @include respond(tab-land) {
      justify-content: center;
    }
  }

  &__text-bold {
    font-size: 1.3rem;
    padding-bottom: 1rem;

    @include respond(tab-land) {
      padding-bottom: 0.5rem;
    }
  }

  &__text-thin {
    font-size: 1.3rem;
  }

  &__phone {
    text-decoration: none;
    color: $color-white;
  }

  &__email {
    text-decoration: none;
    color: $color-white;
  }

  &__box {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    border: 0.5rem double $color-black;
    padding: 3rem 0;

    @include respond(tab-port) {
      flex-direction: column;
      padding: 5rem;
    }
  }

  &__map {
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
      margin-bottom: 5rem;
    }
  }
}
