.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 40%;

  &__heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;

    @include respond(tab-land) {
      margin-bottom: 1rem;
      font-size: 1.8rem;
    }

    @include respond(tab-port) {
      font-size: 2rem;
    }
  }

  &__input {
    margin-top: 2rem;
    font-size: 1.4rem;
    color: $color-white;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    background-color: $color-gray;
    border: none;
    width: 80%;
    display: block;
    border-bottom: 3px solid transparent;

    @include respond(tab-land) {
      margin-top: 1.5rem;
      width: 70%;
    }

    @include respond(tab-port) {
      width: 50%;
    }

    @include respond(phone) {
      width: 70%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 0.5rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-brown;
    }

    &::-webkit-input-placeholder {
      color: $color-white;
    }
  }

  &__input-msg {
    margin-top: 2rem;
    font-size: 1.4rem;
    color: $color-white;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    background-color: $color-gray;
    border: none;
    width: 80%;
    display: block;
    border-bottom: 3px solid transparent;
    height: 17rem;
    display: inline-block;

    @include respond(tab-land) {
      width: 70%;
    }

    @include respond(tab-port) {
      width: 50%;
    }

    @include respond(phone) {
      width: 70%;
    }

    &::-webkit-input-placeholder {
      color: $color-white;
      font-family: "Montserrat", sans-serif;
    }
  }
}
