.gallery {
  &__heading-main {
    text-align: center;
    padding: 4rem 0 3rem 0;
    font-size: 3.5rem;
    font-weight: 500;
    position: relative;
    background-color: $color-white;
  }

  &__heading-main::before {
    position: absolute;
    background: $color-brown;
    height: 0.2rem;
    content: "";
    width: 11%;
  }

  &__heading-main::after {
    position: absolute;
    background: $color-brown;
    height: 0.2rem;
    content: "";
    width: 14%;
    right: 43%;
    bottom: 25%;
  }

  &__icon-header {
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    right: 49%;
    bottom: 65%;
    fill: $color-brown;
    margin-bottom: 0.2rem;
  }

  &__icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon-card {
    margin-top: 2rem;
    display: flex;
  }

  &__icon-card-left {
    display: flex;
    align-items: flex-start;
    margin-right: 3rem;
    padding: 1rem;
  }
  &__icon-card-right {
    display: flex;
    align-items: flex-start;
    padding: 1rem 5rem 1rem 1rem;
    margin-left: 3rem;
  }

  &__link {
    text-decoration: none;
    font-size: 1.3rem;
  }

  &__text-face {
    font-size: 1.5rem;
    color: $color-face;
    margin-bottom: 0.5rem;
  }

  &__text-insta {
    font-size: 1.5rem;
    color: $color-insta;
    margin-bottom: 0.5rem;
  }

  &__icon-face {
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-face;
    margin-right: 1.5rem;
  }

  &__icon-insta {
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-insta;
    margin-right: 1.5rem;
  }

  &__grid {
    columns: 5 20rem;
    column-gap: 5rem;
    width: 80%;
    margin: 0 auto;
  }
  &__image-box {
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 0.2rem black;
    padding: 0.3rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    transition: all 0.25s ease-in-out;
    &:hover .gallery__img {
      filter: grayscale(0);
    }
    &:hover {
      border-color: $color-brown;
    }
  }

  &__img {
    width: 100%;
    filter: grayscale(100%);
    border-radius: 0.5rem;
    transition: all 0.25s ease-in-out;
  }
  &__text {
    margin: 0.5rem 0;
    padding: 0;
    text-align: center;
    font-style: italic;
  }

  &__text-big {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 0.2rem;
    font-style: italic;
    margin-top: 3rem;
  }
}
