.gallery {
  @include heading-top(0, 0, 11%, 14%, 43%);
  @include icon;

  &__grid {
    columns: 5 20rem;
    column-gap: 5rem;
    width: 80%;
    margin: 5rem auto 0 auto;
  }
  &__image-box {
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 0.2rem black;
    padding: 0.3rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    transition: all 0.25s ease-in-out;
    &:hover .gallery__img {
      filter: grayscale(0);
    }
    &:hover {
      border-color: $color-brown;
    }
  }

  &__img {
    width: 100%;
    filter: grayscale(100%);
    border-radius: 0.5rem;
    transition: all 0.25s ease-in-out;
  }

  &__text-grid {
    margin: 0.5rem 0;
    padding: 0;
    text-align: center;
    font-style: italic;
  }

  &__icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text-big {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 0.2rem;
    font-style: italic;
    margin-top: 6rem;
  }

  &__icon-card {
    margin: 4rem 0 8rem 0;
    display: flex;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__icon-card-left {
    display: flex;
    align-items: flex-start;
    margin-right: 3rem;
    padding: 1rem;
  }
  &__icon-card-right {
    display: flex;
    align-items: flex-start;
    padding: 1rem 5rem 1rem 1rem;
    margin-left: 3rem;

    @include respond(phone) {
      margin: 2rem 0 0 0;
    }
  }

  &__text-face {
    font-size: 1.5rem;
    color: $color-face;
    margin-bottom: 0.5rem;
  }

  &__text-insta {
    font-size: 1.5rem;
    color: $color-insta;
    margin-bottom: 0.5rem;
  }

  &__icon-face {
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-face;
    margin-right: 1.5rem;
  }

  &__icon-insta {
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-insta;
    margin-right: 1.5rem;
  }

  &__link {
    text-decoration: none;
    font-size: 1.3rem;
  }
}
