.price {
  @include heading-top(0, -10rem, 13%, 16%, 42%);
  @include icon;

  &__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;

    @include respond(tab-land) {
      margin-top: 2rem;
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__card {
    border: 5px double $color-white;
    padding: 5rem;
    flex-basis: 30%;

    @include respond(tab-land) {
      flex-basis: 32%;
      padding: 4rem;
    }

    @include respond(phone) {
      width: 80%;
      margin-bottom: 3rem;
    }

    &--left {
      background-color: rgba($color-brown, 0.8);
      color: $color-white;
    }

    &--right {
      background-color: rgba($color-black, 0.3);
      color: $color-white;
    }
  }

  &__heading-card {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    border-bottom: 1px dotted $color-white;
    padding-top: 2rem;

    @include respond(tab-land) {
      font-size: 1.4rem;
    }
  }

  &__btn-box {
    margin-top: 4rem;
    text-align: center;
  }
}
