.section-about {
  padding-bottom: 14rem;
}

.section-services {
  background-image: url(../img/113.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-color: $color-black;
  margin: 5rem 0;
}

.section-gallery {
  padding: 5rem 0;
}

.section-price {
  background-image: radial-gradient(
      rgba($color-black, 0.7),
      rgba($color-black, 0.4)
    ),
    url(..//img/p1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  padding: 3rem 0 8rem 0;
}

.section-contact {
  padding: 5rem 0;
}
