.section-about {
  padding-bottom: 5rem;
}

.section-services {
  background-image: url(../img/119.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: $color-black;
  margin: 5rem 0;
}

.section-gallery {
  padding: 5rem 0;
}

.section-contact {
  padding-bottom: 5rem;
}
